@{
    var routeValues = this.ViewContext.RouteData.Values;
    var controller = routeValues["controller"] as string;
    var action = routeValues["action"] as string;
}
<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@_Layout.title</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="softwaredev.ro" />
    <meta name="description" content="@_Layout.MetaDescription" />
    <meta name="keywords" content="@_Layout.KeywordsDescription" />

    @Styles.Render("~/bundles/css")
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Gudea:400,400i,700&subset=latin-ext" rel="stylesheet">
    <!--// online-fonts -->

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="header">
        @Html.Partial("Header")
        @Html.Partial("Slider")
    </div>
    @RenderBody()

    @Html.Partial("Footer")
</body>
</html>